<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzc.electrocar.mapper.AlarmEntityMapper">
  <resultMap id="BaseResultMap" type="com.zdzc.electrocar.entity.AlarmEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="alarm_status" jdbcType="VARCHAR" property="alarmStatus" />
    <result column="alarm_handle" jdbcType="INTEGER" property="alarmHandle" />
    <result column="vehicle_status" jdbcType="VARCHAR" property="vehicleStatus" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="speed" jdbcType="DOUBLE" property="speed" />
    <result column="direction" jdbcType="DOUBLE" property="direction" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="milestone" jdbcType="DOUBLE" property="milestone" />
    <result column="oil" jdbcType="DOUBLE" property="oil" />
    <result column="speed2" jdbcType="DOUBLE" property="speed2" />
    <result column="signal_status" jdbcType="VARCHAR" property="signalStatus" />
    <result column="io_status" jdbcType="VARCHAR" property="ioStatus" />
    <result column="analog" jdbcType="VARCHAR" property="analog" />
    <result column="wiff" jdbcType="INTEGER" property="wiff" />
    <result column="satellite_num" jdbcType="INTEGER" property="satelliteNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="vendor" jdbcType="INTEGER" property="vendor" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_gps_alarm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zdzc.electrocar.entity.AlarmEntity">
    insert into t_gps_alarm (id, device_id, alarm_status, 
      alarm_handle, vehicle_status, longitude, 
      latitude, height, speed, 
      direction, time, milestone, 
      oil, speed2, signal_status, 
      io_status, analog, wiff, 
      satellite_num, create_time, vendor
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{alarmStatus,jdbcType=VARCHAR}, 
      #{alarmHandle,jdbcType=INTEGER}, #{vehicleStatus,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{height,jdbcType=DOUBLE}, #{speed,jdbcType=DOUBLE}, 
      #{direction,jdbcType=DOUBLE}, #{time,jdbcType=TIMESTAMP}, #{milestone,jdbcType=DOUBLE}, 
      #{oil,jdbcType=DOUBLE}, #{speed2,jdbcType=DOUBLE}, #{signalStatus,jdbcType=VARCHAR}, 
      #{ioStatus,jdbcType=VARCHAR}, #{analog,jdbcType=VARCHAR}, #{wiff,jdbcType=INTEGER}, 
      #{satelliteNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{vendor,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zdzc.electrocar.entity.AlarmEntity">
    update t_gps_alarm
    set device_id = #{deviceId,jdbcType=VARCHAR},
      alarm_status = #{alarmStatus,jdbcType=VARCHAR},
      alarm_handle = #{alarmHandle,jdbcType=INTEGER},
      vehicle_status = #{vehicleStatus,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      height = #{height,jdbcType=DOUBLE},
      speed = #{speed,jdbcType=DOUBLE},
      direction = #{direction,jdbcType=DOUBLE},
      time = #{time,jdbcType=TIMESTAMP},
      milestone = #{milestone,jdbcType=DOUBLE},
      oil = #{oil,jdbcType=DOUBLE},
      speed2 = #{speed2,jdbcType=DOUBLE},
      signal_status = #{signalStatus,jdbcType=VARCHAR},
      io_status = #{ioStatus,jdbcType=VARCHAR},
      analog = #{analog,jdbcType=VARCHAR},
      wiff = #{wiff,jdbcType=INTEGER},
      satellite_num = #{satelliteNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      vendor = #{vendor,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, device_id, alarm_status, alarm_handle, vehicle_status, longitude, latitude, 
    height, speed, direction, time, milestone, oil, speed2, signal_status, io_status, 
    analog, wiff, satellite_num, create_time, vendor
    from t_gps_alarm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, device_id, alarm_status, alarm_handle, vehicle_status, longitude, latitude, 
    height, speed, direction, time, milestone, oil, speed2, signal_status, io_status, 
    analog, wiff, satellite_num, create_time, vendor
    from t_gps_alarm
  </select>
  <resultMap id="BaseResultMap" type="com.zdzc.electrocar.entity.AlarmEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="alarm_status" jdbcType="VARCHAR" property="alarmStatus" />
    <result column="alarm_handle" jdbcType="INTEGER" property="alarmHandle" />
    <result column="vehicle_status" jdbcType="VARCHAR" property="vehicleStatus" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="speed" jdbcType="DOUBLE" property="speed" />
    <result column="direction" jdbcType="DOUBLE" property="direction" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="milestone" jdbcType="DOUBLE" property="milestone" />
    <result column="oil" jdbcType="DOUBLE" property="oil" />
    <result column="speed2" jdbcType="DOUBLE" property="speed2" />
    <result column="signal_status" jdbcType="VARCHAR" property="signalStatus" />
    <result column="io_status" jdbcType="VARCHAR" property="ioStatus" />
    <result column="analog" jdbcType="VARCHAR" property="analog" />
    <result column="wiff" jdbcType="INTEGER" property="wiff" />
    <result column="satellite_num" jdbcType="INTEGER" property="satelliteNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="vendor" jdbcType="INTEGER" property="vendor" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_gps_alarm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zdzc.electrocar.entity.AlarmEntity">
    insert into t_gps_alarm (id, device_id, alarm_status, 
      alarm_handle, vehicle_status, longitude, 
      latitude, height, speed, 
      direction, time, milestone, 
      oil, speed2, signal_status, 
      io_status, analog, wiff, 
      satellite_num, create_time, vendor
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{alarmStatus,jdbcType=VARCHAR}, 
      #{alarmHandle,jdbcType=INTEGER}, #{vehicleStatus,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{height,jdbcType=DOUBLE}, #{speed,jdbcType=DOUBLE}, 
      #{direction,jdbcType=DOUBLE}, #{time,jdbcType=TIMESTAMP}, #{milestone,jdbcType=DOUBLE}, 
      #{oil,jdbcType=DOUBLE}, #{speed2,jdbcType=DOUBLE}, #{signalStatus,jdbcType=VARCHAR}, 
      #{ioStatus,jdbcType=VARCHAR}, #{analog,jdbcType=VARCHAR}, #{wiff,jdbcType=INTEGER}, 
      #{satelliteNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{vendor,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zdzc.electrocar.entity.AlarmEntity">
    update t_gps_alarm
    set device_id = #{deviceId,jdbcType=VARCHAR},
      alarm_status = #{alarmStatus,jdbcType=VARCHAR},
      alarm_handle = #{alarmHandle,jdbcType=INTEGER},
      vehicle_status = #{vehicleStatus,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      height = #{height,jdbcType=DOUBLE},
      speed = #{speed,jdbcType=DOUBLE},
      direction = #{direction,jdbcType=DOUBLE},
      time = #{time,jdbcType=TIMESTAMP},
      milestone = #{milestone,jdbcType=DOUBLE},
      oil = #{oil,jdbcType=DOUBLE},
      speed2 = #{speed2,jdbcType=DOUBLE},
      signal_status = #{signalStatus,jdbcType=VARCHAR},
      io_status = #{ioStatus,jdbcType=VARCHAR},
      analog = #{analog,jdbcType=VARCHAR},
      wiff = #{wiff,jdbcType=INTEGER},
      satellite_num = #{satelliteNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      vendor = #{vendor,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, device_id, alarm_status, alarm_handle, vehicle_status, longitude, latitude, 
    height, speed, direction, time, milestone, oil, speed2, signal_status, io_status, 
    analog, wiff, satellite_num, create_time, vendor
    from t_gps_alarm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, device_id, alarm_status, alarm_handle, vehicle_status, longitude, latitude, 
    height, speed, direction, time, milestone, oil, speed2, signal_status, io_status, 
    analog, wiff, satellite_num, create_time, vendor
    from t_gps_alarm
  </select>
</mapper>