<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzc.electrocar.mapper.AlarmEntityMapper">
  <resultMap id="BaseResultMap" type="com.zdzc.electrocar.entity.AlarmEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="alarm_status" jdbcType="INTEGER" property="alarmStatus" />
    <result column="alarm_handle" jdbcType="INTEGER" property="alarmHandle" />
    <result column="vehicle_status" jdbcType="INTEGER" property="vehicleStatus" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="speed" jdbcType="DOUBLE" property="speed" />
    <result column="direction" jdbcType="DOUBLE" property="direction" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="mile" jdbcType="DOUBLE" property="mile" />
    <result column="oil" jdbcType="DOUBLE" property="oil" />
    <result column="speed2" jdbcType="DOUBLE" property="speed2" />
    <result column="signal_status" jdbcType="INTEGER" property="signalStatus" />
    <result column="io_status" jdbcType="INTEGER" property="ioStatus" />
    <result column="analog" jdbcType="VARCHAR" property="analog" />
    <result column="wifi" jdbcType="INTEGER" property="wifi" />
    <result column="satellite_num" jdbcType="INTEGER" property="satelliteNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="vendor" jdbcType="INTEGER" property="vendor" />
  </resultMap>

  <select id="selectAlarmsForDevice" resultMap="BaseResultMap">
    select * from t_gps_alarm
    where device_id = #{deviceId,jdbcType=VARCHAR} and alarm_handle = #{alarmType,jdbcType=INTEGER}
  </select>
</mapper>